:root {
  /* theme */
  --theme-primary-pink: #f0739d;

  /* background */
  --bg-primary-pink: #f0739d;
  --bg-white: #ffffff;
  --bg-red: red;
  --bg-grey: #d2d2d2;
  --bg-light-grey: #00000010;
  --bg-main: #f5f5fa;
  --bg-overlay: rgba(0, 0, 0, 0.3);
  --bg-secondary-pink-opacity-20: rgba(247, 163, 183, 0.2);
  --bg-secondary-pink: #f9e6ea;
  --bg-information: #808089;
  --bg-error: #e85e6c;
  --bg-success: #3cb878;
  --bg-google: #db4437;
  --bg-github: #24292e;

  /* text */
  --text-primary-pink: #f0739d;
  --text-grey: #808089;
  --text-white: #ffffff;
  --text-black: #27272a;
  --text-information: #808089;
  --text-error: #e85e6c;
  --text-success: #3cb878;

  /* outline */
  --outline-primary-pink: #f0739d;
  --outline-light-grey: #ebebf0;
  --outline-dark-grey: #808089;
  --outline-grey: #d2d2d2;

  /* swiper */
  --swiper-theme-color: #f0739d !important;

  /* dimension */
  --top-bar-height: 3.5rem;
  --bottom-bar-height: 3.5rem;
  --product-page-main-image: 26rem;
  --modal-main-image: 31rem;
  --product-page-slide-image: 5.625rem;
  --side-bar-width: 16.375rem;
  --mobile-cart-summary-height: 13.75rem;

  /* z-index */
  --navbar-z-index: 9998;
  --drawer-z-index: 9997;
  --modal-z-index: 9999;
  --overlay-z-index: 9996;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-main) !important;
  overflow: hidden;
}

/* scrollbar */
@media (max-width: 600px) {
  html *::-webkit-scrollbar {
    display: none;
  }
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

/* swiper */
.mySwiper {
  height: 100%;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  width: 2rem !important;
  height: 2rem !important;
  background-color: var(--bg-white);
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 0.75rem !important;
  font-weight: 700;
  color: var(--text-primary-pink);
}
